@{ var culture = CultureInfo.CurrentCulture.Name; }
@using eShopSolution.ViewModels.Catalog.Categories
@model List<CategoryViewModel>
<!-- NAVIGATION -->
<!-- /NAVIGATION -->


<div class="main-header header-sticky" data-bg-color="#bac34e">
    <div class="container">
        <div class="main-header_nav position-relative">
            <div class="row align-items-center">
                <div class="col-lg-12 d-none d-lg-block">
                    <div class="main-menu">
                        <nav class="main-nav">
                            <ul>
                                <li>
                                    <a href="https://localhost:5003/">Trang Chủ</a>
                                </li>
                                @foreach (var category in Model)
                                {
                                    <li>
                                        @*@Html.ActionLink(category.Name, "ViewByCategory", "Home", new { cateId = category.Id })*@
                                        <a asp-action="ViewByCategory" asp-controller="Home" asp-route-cateId="@category.Id">@category.Name</a>
                                    </li>
                                }
                                <li>
                                    <a asp-action="Index" asp-controller="Coupon">Khuyến Mãi</a>
                                </li>
                                <li>
                                    <a asp-action="Index" asp-controller="Blog">Blog</a>
                                </li>
                                <li>
                                    <a asp-action="Create" asp-controller="Contact">Liên Hệ</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mobile-menu_wrapper" id="mobileMenu">
    <div class="harmic-offcanvas-body">
        <div class="inner-body">
            <div class="harmic-offcanvas-top">
                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
            </div>
            <div class="offcanvas-user-info text-center px-6 pb-5">
                <div class="header-top-left">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="dropdown-wrap text-matterhorn">
                            @{ var claims = User.Claims.ToList();
                                var name = claims.FirstOrDefault(x => x.Type == ClaimTypes.GivenName).Value; }
                            <div class=" text-silver">
                                <p class="shipping mb-0">Xin chào <span class="text-primary">@name</span></p>
                            </div>
                        </ul> }
                    else
                    {
                <div class="row">
                    <div class="col-6">
                        <ul class="dropdown-wrap text-matterhorn">
                            <li style="font-family: 'FontAwesome';color:white"><a href="#">Xin chào <strong>quý khách!</strong></a></li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="pe-7s-users"></i>
                        </button>
                        @if (User.Identity.IsAuthenticated)
                        {

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                <li><a asp-action="Index" asp-controller="Account" style="margin-left: 10px;"><i class="fa fa-user-o"></i> Tài khoản</a></li>
                                <li><button style="font-family: 'FontAwesome'; border: none; margin-left: 10px; background: antiquewhite; border-radius: 5px; margin-top: 10px;" form="logout_form" id="logout-button" type="submit"><span id="logout_label">Đăng xuất</span></button></li>
                            </ul>
                            <form id="logout_form" action="/@culture/Login/Logout" method="post">
                            </form> }
                        else
                        {
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButton">
                                <li style="margin-left: 20px; font-family: 'Pe-icon-7-stroke';"><a asp-action="Login" asp-controller="Login"> Đăng nhập</a></li>
                                <li style="margin-left: 20px; font-family: 'Pe-icon-7-stroke';"><a asp-action="Register" asp-controller="Login"> Đăng ký</a></li>
                            </ul>
                        }
                    </div>
                    <div class="col-3">
                        <li>
                            <a href="wishlist.html">
                                <i class="pe-7s-like"></i>
                            </a>
                        </li>
                    </div>
                </div>
                        

                    }
                </div>

                <ul class="dropdown-wrap justify-content-center text-silver">
                    <li class="dropdown dropup">
                        
                    </li>
                   
                </ul>
            </div>
            <div class="offcanvas-menu_area">
                <nav class="offcanvas-navigation">
                    <ul class="mobile-menu">
                        @foreach (var category in Model)
                        {
                            <li>
                                <a asp-action="ViewByCategory" asp-controller="Home" asp-route-cateId="@category.Id">
                                    <span class="mm-text">@category.Name</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-action="Index" asp-controller="Coupon">
                                <span class="mm-text">Khuyến Mãi</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Blog">
                                <span class="mm-text">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a asp-action="Create" asp-controller="Contact">
                                <span class="mm-text">Liên Hệ</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>